{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>
  .container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  body {
    background-image: url("{% static '\food2_website.jpg' %}");
    background-size: cover;
  }


  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  th {
    margin: 10px;
    padding: 10px;
  }

  td {
    margin: 10px;
    padding: 10px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #5dade2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #3498db;
  }
</style>
<div class="container">
  <h1>Delete Reviews for {{ user_id }}</h1>
  <form method="POST">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>Review ID</th>
          <th>Review Content</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        <tr>
          <td><input type="checkbox" name="review_ids" value="{{ review.id }}"></td>
          <td>{{ review.id }}</td>
          <td>{{ review.address }}</td>
          <td>{{ review.restaurant_review }}</td>
          <td>{{ review.restaurant_rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Delete Selected Reviews">
  </form>

</div>

{% endblock %}
