<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title> FAQ </title>
    </head>

<body>
    <h1>Frequently Asked Questions (FAQ)</h1>
    <p class = "question">1. What is WGT?</p>
        <p class="answer">WGT is an application to help you find restaurants and parking space in one place!</p>
    
    <p class = "question">2. What do I need to create an account?</p>
        <p class = "answer"> Just a valid email and a 8 character long password. These information will be encrypted and stored safely.</p>
</body>