{% extends 'main.html' %}

{% block content %}

<style>
    body {
        background-color: #f8f8f8;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .searchBar {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    input[type="search"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
        margin-right: 10px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #5dade2;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #3498db;
    }

    ul.searchRestaurant,
    ul li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.searchRestaurant li {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h2>Find Nearest Restaurants</h2>

    <form class="searchBar" method="GET" action="">
        <input class="searchBar" type="search" name="search">
        <button class="searchBar" type="submit">Search</button>
    </form>

    <ul class="searchRestaurant">
        {% for result in results %}
        <li>
            <a href="{% url 'set_selected_res' result.id%}">{{result.name}}</a>
            {{result.address}}
            {{result.cuisine}}
        </li>
        {% empty %}
        No results!
        {% endfor %}
    </ul>

    <div>
        <form id = "locationForm" action= "" method="POST">
            {% csrf_token %}
            <input type="hidden" id="latitudeInput" name="latitude">
            <input type="hidden" id="longitudeInput" name="longitude">
            <!-- <button id = "getLocationBtn" type="submit">Click here to get your current location!</button> -->
            <button type="button" onclick="getLocation()">Share Location</button>
        </form>
        
        <p>Button not working? Try manually submitting your current address: </p>
        
        <form id = "locationAddressForm" action = "" method = "GET">
            {% csrf_token %}
            <input type = "search" class = "searchBar" name = "userAddress">
            <button class="searchBar" type="submit">Submit</button>
        </form>

        <p>Your current coordinates: </p>
        <ul>
            <li>Lat: {{user_lats}}</li>
            <li>Long: {{user_longs}}</li>
        </ul>
        {% for list in lists %}
        <li>
            <ul>
                <a href="{% url 'set_selected_res' list.id %}">{{list.name}}</a>
                {{list.address}}
                {{list.cuisine}}
            </ul>
        </li>
        {% endfor %}
    </div>
</div>


<script>
    // Get the form and button elements for LocationForm
    const locationForm = document.getElementById('locationForm');
    //const getLocationBtn = document.getElementById('getLocationBtn');

    // Listen for the button click event
    //getLocationBtn.addEventListener('click', getLocation);

    function getLocation() {
        // Check if the browser supports geolocation
        if (navigator.geolocation) {
            // Get the user's current position
            navigator.geolocation.getCurrentPosition(fillLocationForm);
        } else {
            // If geolocation is not supported, display an error message
            alert("Geolocation is not supported by this browser. Try using entering your manual location instead.");
        }
    }

    function fillLocationForm(position){
        document.getElementById('latitudeInput').value = position.coords.latitude;
        document.getElementById('longitudeInput').value = position.coords.longitude;
        document.getElementById("locationForm").submit();
        // Submit the form
        //locationForm.submit();
    }

    // function fillLocationForm() {
    // // Get the user's geolocation
    //     const latitude = position.coords.latitude;
    //     const longitude = position.coords.longitude;

    //     // Set the latitude and longitude values in the hidden form inputs
    //     document.getElementById('latitudeInput').value = latitude;
    //     document.getElementById('longitudeInput').value = longitude;

    //     // Submit the form
    //     locationForm.submit();
    // };



</script>
{% endblock content %}