{% extends 'main.html' %}

{% block content %}

<h2>Find Nearest Restaurants</h2> 

<form class="searchBar" method="GET" action="" >
    <input class="searchBar" type="search" name="search"> 
    <button class="searchBar" type="submit"> Search </button>
</form>

<ul class = "searchRestaurant">
{% for result in results %}
   <li>
   {{result.name}}
   {{result.address}}
   {{result.cuisine}}
    </li>
{% empty %}
   No results!
{% endfor %}
</ul>

<!-- <ul class = "allRestaurant"> show all restaurants
    <h1>All restaurants</h1>
    {% for rest in res %}

        <li>{{rest.name}}
            {{rest.address}}
            {{rest.cuisine}}
        </li>

    {% endfor %}
</ul class = "allRestaurant"> -->
{% endblock content%}