{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }


    /* Styles for the location form */
    #locationForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #5dade2;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #3498db;
    }

    /* Styles for the address form */
    #locationAddressForm {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #locationAddressForm input[type=search] {
        width: 250px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px;
        margin-bottom: 20px;
    }



    /* Styles for the list items */


    /* li {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    li:hover {
        background-color: #f5f5f5;
    } */



    .row {
        margin: 10px 0;
        align-items: center;

        justify-content: center;
    }

    .para {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    body {
        background-image: url("{% static '\food2_website.jpg' %}");
        background-size: cover;
    }
</style>
<div class="container">
    <h1>Find Nearby Restaurants</h1>
    <div class="row">
        <form id="locationForm" action="" method="POST">
            {% csrf_token %}
            <input type="hidden" id="latitudeInput" name="latitude">
            <input type="hidden" id="longitudeInput" name="longitude">
            <button type="submit" onclick="getLocation()">Share Location</button>
        </form>
    </div>

    <div class="row">
        <p class="para">Button not working? Try manually submitting your current address: </p>
    </div>

    <div class="row">
        <form id="locationAddressForm" action="" method="GET">
            {% csrf_token %}
            <input type="search" class="searchBar" name="userAddress">
            <button class="searchBar" type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    // Get the form and button elements for LocationForm
    const locationForm = document.getElementById('locationForm');

    function getLocation() {
        // Check if the browser supports geolocation
        if (navigator.geolocation) {
            // Get the user's current position
            navigator.geolocation.getCurrentPosition(fillLocationForm);
        } else {
            // If geolocation is not supported, display an error message
            alert("Geolocation is not supported by this browser. Try using entering your manual location instead.");
        }
    }

    function fillLocationForm(position) {
        document.getElementById('latitudeInput').value = position.coords.latitude;
        document.getElementById('longitudeInput').value = position.coords.longitude;
        document.getElementById("locationForm").submit();
        // Submit the form
        //locationForm.submit();
    }



</script>

{% endblock content %}
