{% extends 'main.html' %}

{% block content %}
<!-- <style>
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        flex-direction: column;
    }

    .row {
        margin: 10px 0;
        align-items: center;

        justify-content: center;
    }


    /* Styles for the location form */
    #locationForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #5dade2;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #3498db;
    }
</style> -->
<div class="container">
    <h1>Finding the best food around.</h1>
    <div class="row">
        {% if request.user.is_authenticated %}
        Welcome, {{request.user.username}}
        {% else %}
        Welcome!
        {% endif %}

    </div>

    <div>
        <a href="{% url 'find_nearest_restaurant_1' %}"><button>Find the nearest restaurant!</button></a>
    </div>
</div>

{% endblock content %}
