{% extends 'main.html' %}

{% block content %}
{% load static %}
<style>
    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    body {
        background-image: url("{% static '\food2_website.jpg' %}");
        background-size: cover;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.messages {
        list-style-type: none;
        padding: 0;
    }

    ul.messages li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #5dade2;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #3498db;
    }

    .para {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>

<div class="container">
    <h1>Got something to say? Leave a review!</h1>

    <p class="para">
        {% if user.is_authenticated %}
        Reviewing as: {{ user.username }}

    </p>
    <form method="post" name="review">
        {% csrf_token %}
        {{ review.as_p }}
        <button type="submit">Submit
        </button>

    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
</div>
{% endblock content %}
