{% extends 'main.html' %}

{% block content %}
<style>
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
    }

    .acc {
    padding: 10px 20px;
    background-color: #5dade2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }

  .acc:hover {
    background-color: #3498db;
  }

    .para {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>
<h1>Ready to eat?</h1>

<div class="container">
    <div>
        Restaurant: {{selected_res.name}} <br>
        Address: {{selected_res.address}} <br>
        Cuisine: {{selected_res.cuisine}} <br>
        Average Rating: {{selected_res.restaurant_rating}}/5
    </div>


    <h3>Hear what others have to say!</h3>

    {% for review in restaurantReview %}
    <p>Username: {{review.user_name}}</p>
    <p>Review: {{review.restaurant_review}}</p>
    <p>Rating: {{review.restaurant_rating}}/5</p>
    <p>------------------------------------</p>
    {% endfor %}
    <a class="acc" href="{% url 'leaveReview' %}">Leave your own reviews here!</a>
    <hr>
    <h3>Need some help? We'll show you how to get there!</h3>
        <h3>Nearest Carparks</h3>
        {% for carpark in nearest_carparks %}
            <p>Type: {{carpark.BUILDING}}</p>
            <p>Address: {{carpark.ADDRESS}}</p>
            <p>Distance: {{carpark.distance|floatformat:2}} km</p>
            <button class="get-directions" data-lat="{{carpark.LATITUDE}}" data-lon="{{carpark.LONGITUDE}}">Get directions to this carpark</button>
        {% endfor %}


    <a href="https://maps.google.com" id=aMap data-lat='{{selected_res.lat}}' data-lon='{{selected_res.lon}}'>Get
        directions here!</a>
    <p></p>
    <a href="https://maps.google.com" id=aCarpark data-lat='{{carpark.LATITUDE}}' data-lon='{{carpark.LONGITUDE}}'>Get
        nearby carparks here!</a>


</div>

<script>
    function openDirections(lat, lon) {
        var url = `https://www.google.com/maps/dir/?api=1&destination=${lat},${lon}`;
        window.open(url, '_blank');
    }

    document.querySelectorAll('.get-directions').forEach(function(button) {
        button.addEventListener('click', function() {
            var lat = parseFloat(this.dataset.lat);
            var lon = parseFloat(this.dataset.lon);
            openDirections(lat, lon);
        });
    });
</script>



{% endblock content %}








