{% extends 'main.html' %}

{% block content %}
{% load static %}
<style>
    body {
        background-image: url("{% static '\food2_website.jpg' %}");
        background-size: cover;
    }
    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        background-color: white;
    }

    .acc {
    padding: 10px 20px;
    background-color: #5dade2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .acc:hover {
    background-color: #3498db;
  }

    .para {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #carparks {
        display: none;
    }

    .get-directions {
        padding: 10px 20px;
        background-color: #5dade2;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 20px;
        text-decoration: none;
        display: inline-block;
    }

    .get-directions:hover {
        background-color: #3498db;
    }

   

</style>


<div class="container">
    <h1>{{selected_res.name}}</h1>
    <div>
        <b>Address:</b> {{selected_res.address}} <br>
        <a class="acc get-directions" href="https://maps.google.com" id=aMap data-lat='{{selected_res.lat}}' data-lon='{{selected_res.lon}}'>Get directions here!</a>
        <br>
        <br>
        <div>
            <b>Features: </b>
            <ul>
                {% for cuisine in cuisineList %}
                <li>{{ cuisine }}</li>
                {% endfor %}
            </ul>
        </div>
        <b>Average Rating:</b> {{selected_res.restaurant_rating}}/5
    </div>


    <h3>Hear what others have to say!</h3>
    {% if restaurantReview %}
        {% for review in restaurantReview %}
            <p>Username: {{review.user_name}}</p>
            <p>Review: {{review.restaurant_review}}</p>
            <p>Rating: {{review.restaurant_rating}}/5</p>
            <p>------------------------------------</p>
        {% endfor %}
    {% else %}
          <div style = "margin: 16px 0px;">There are no reviews for this restaurant at the moment. Be the first one!</div>
    {% endif %}
    
    <a class="acc" href="{% url 'leaveReview' %}">Leave your own reviews here!</a>
    <hr>
    <h3>Nearest Carparks</h3>
    <div id="carparks">
        {% for carpark in nearest_carparks %}
            <div class="carpark">
                <p>Type: {{carpark.name}}</p>
                <p>Address: {{carpark.vicinity}}</p>
                <p>Distance: {{carpark.distance|floatformat:2}} km</p>
                <a class="get-directions" href="#" data-lat="{{carpark.geometry.location.lat}}" data-lon="{{carpark.geometry.location.lng}}">Get directions to this carpark</a>
            </div>
        {% endfor %}



    </div>


    <a class="acc get-directions" href="https://maps.google.com" id=aCarpark data-lat='{{nearest_carparks.LATITUDE}}' data-lon='{{nearest_carparks.LONGITUDE}}'>Get nearby carparks here!</a>


</div>

<script>
    function openDirections(lat, lon) {
        var url = `https://www.google.com/maps/dir/?api=1&destination=${lat},${lon}&key={{API_KEY}}`;
        window.open(url, '_blank');
    }

    document.querySelectorAll('.get-directions').forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault();
        var lat = parseFloat(this.dataset.lat);
        var lon = parseFloat(this.dataset.lon);
        openDirections(lat, lon);
        });
    });

    document.getElementById('aMap').addEventListener('click', function(event){
        event.preventDefault();
        var lat = parseFloat(this.dataset.lat);
        var lon = parseFloat(this.dataset.lon);
        openDirections(lat,lon)
    })


    document.getElementById('aCarpark').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default link behavior
        var carparksDiv = document.getElementById('carparks');
        if (carparksDiv.style.display === 'none') {
            carparksDiv.style.display = 'block';
        } else {
            carparksDiv.style.display = 'none';
        }
    });
</script>


{% endblock content %}








