{% extends 'main.html' %}
{% block content %}

<style>

.container {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        flex-direction: column;
    }


    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

</style>
<div class = "container">

  <h1>My Reviews</h1>
  {% for review in user_reviews %}
    <div>
      <h3>{{ review.address }}</h3>
      <p>{{ review.restaurant_review }}</p>
      <p>Rating: {{ review.restaurant_rating }}/5</p>
      <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Delete</a>
    </div>
  {% empty %}
    <p>You have not submitted any reviews.</p>
  {% endfor %}
</div>  

{% endblock %}
