{% extends 'main.html' %}
{% block content %}

{% load static %}
<style>
  .container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  body {
    background-image: url("{% static '\food2_website.jpg' %}");
    background-size: cover;
  }


    h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

</style>
<div class = "container">

  <h1>My Reviews</h1>
  {% for review in user_reviews %}
    <div>
      <h3>{{ review.address }}</h3>
      <p>{{ review.restaurant_review }}</p>
      <p>Rating: {{ review.restaurant_rating }}/5</p>
      <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Delete</a>
    </div>
  {% empty %}
    <p>You have not submitted any reviews.</p>
  {% endfor %}
</div>  

{% endblock %}
