<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHERE GOT TIME??</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div>
        <p>Main HTML page for NavBar and SideBar menu [other pages extend from this page]</p>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'FNR' %}">Find Nearest Restaurant</a></li>
            <li><a href="{% url 'leaveReview' %}">Leave a Review</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href = "{% url 'faq' %}">FAQ</a></li>
        </ul>
    </div>
    <hr>
    {% block content %}

    {% endblock %}
</body>

</html>