{% extends 'main.html' %}
{% block content %}
{% load static %}

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
  }

  body {
    background-image: url("{% static '\food2_website.jpg' %}");
    background-size: cover;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  th {
    margin: 10px;
    padding: 10px;
  }

  td {
    margin: 10px;
    padding: 10px;
  }
</style>
<div class="container">
  <h1>Restaurants</h1>
  <a href="{% url 'add_restaurant' %} " class="btn btn-primary">Add New Restaurant</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for restaurant in restaurants %}
      <tr>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>
          <a href="{% url 'delete_restaurant' restaurant.id %}" class="btn btn-danger" >Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
